* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

article {
  background-color: rgb(136, 186, 136);
  border: 4px solid black;
  margin: 50px;
  padding: 50px;
  text-align: center;
}

h1 {
  color: rgb(247, 247, 115);
  font-size: 32px;
  margin-bottom: 50px;
}

p.link {
  margin-bottom: 50px;
  font-size: 18px;
  font-weight: bold;
}

/* LINKS */
a:link,
a:visited {
  color: rgb(37, 109, 253);
}

a:hover,
a:active {
  color: rgb(119, 119, 187);

  text-decoration: none;
}
