* {
/*   border: 1px solid black; */
  text-align: center;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 14px;
}

h2, h3, h4, ul {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

div.main-flex {
  display: flex;
}

div.column {
  flex: 1;
  padding: 10px;
}
/* =========================== */
h2 {
  margin: 10px;  
}

article {
  border: 2px solid purple;
  margin-bottom: 10px;
}

article>header {
  border-bottom: 2px solid purple;
}

section.main {
  padding: 10px 10px 0;
}
/* =========================== */
/* DIV.dashed1 */
div.dashed1 {
  border: 1.5px dashed blue;
  margin-bottom: 10px;
}

div.dashed1>ul {
  border-top: 1px solid black;
}

div.dashed1 li.cell-A {
  border-right: 1px solid black;
}
/* =========================== */
/* DIV.dashed2 */
div.dashed2 {
  border: 1.5px dashed blue;
  margin-bottom: 10px;
}

div.dashed2>ul {
  border-bottom: 1.5px dashed blue;
}

div.dashed2 li.cell-A {
  border-right: 1px solid black;
}

div.dashed2>div {
  font-size: 12px;
  font-style: italic;
}
/* =========================== */
/* DIV.solid */
div.solid>ul {
  border: 1px solid black;
  margin-bottom: 10px;
}

div.solid li.cell-A {
  border-right: 1px solid black;
}
/* =========================== */
ul.row {
/*   border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
}

li.cell-A, li.cell-B {
  padding: 3px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* =========================== */
ul.row.margin-b-none {
  margin-bottom: 0;
}

div.operator {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* =========================== */
input {
  width: 100px;
  border: 1px solid black;
  border-radius: 2px;
  font-family: Arial;
}
/* Legend */
.legend.dotted {
  border: 2px dotted green;
  font-size: 12px;
}

.legend.dotted div {
  border-bottom: 2px dotted green;
}

.legend.dotted div {
  padding: 3px;
}

.legend.dotted div:last-child {
  border-bottom: none;
}
/* =========================== */
/* DIV concat */
div.concat {
  border: 1px solid black;
}

div.concat ul {
  border-top: 1px solid black;
}

div.concat ul:first-child {
  border-top: none;
}

div.concat li.cell-A {
  border-right: 1px solid black;
}

div.concat+ul {
  margin-bottom: 10px;
}

div.borderless {
  margin-bottom: 10px;
}
/* =========================== */
